.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1500px;
}
.col-1,
.col-2 {
  flex: 1;
}
.col-1 {
  margin-right: 20px; /* Ajuste a margem direita para reduzir o espaço entre as colunas */
}

.col-2 {
  margin-left: 20px; /* Ajuste a margem esquerda para reduzir o espaço entre as colunas */
}

form {
  margin: 0 0 0 120px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  font-size: 23pt;
  font-weight: bold;
  width: 100%;
  margin: 40px 0 16px 0;
}

label,
p,
input,
select {
  display: block;
  font-family: "TT Supermolot", Arial, sans-serif;
}

label {
  font-size: 22pt;
  margin: 40px 0 16px 0;
}

.cidadelabel {
  margin: 0 0 16px 0;
}

.temperaturalabel {
  margin: 0 0 16px 0;
}

.cidadeinput {
  border: 2px solid var(--primary-color-azul-medio);
  padding: 10px;
  width: 370px;
  border-radius: 5px;
}

input:focus {
  border-color: var(--primary-color-verde);
  outline: none;
}

button {
  margin-right: 5px;
}

.updown-container {
  display: flex;
}

.updown-div {
  margin-right: 20px;
  box-shadow: 0 4px 4px 0 #00000025;
  border-radius: 5px;
}

.updown-div p {
  margin-left: 10px;
}

.turnobutton {
  background-color: #b3e5fc;
  color: blue;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  width: 100px;
  height: 40px;
}

.turnobutton.selected {
  background-color: #90caf9;
}

.climaselect {
  border: 2px solid var(--primary-color-azul-medio);
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.buttonscontainer {
  margin: 80px;
}

.cancelarbutton {
  width: 150px;
  height: 30px;
  background-color: var(--primary-color-branco);
  border: 1px solid var(--primary-color-azul-medio);
  color: var(--primary-color-azul-medio);
  font-family: "TT Supermolot", Arial, sans-serif;
  font-weight: bold;
}

.salvarbutton {
  width: 150px;
  height: 30px;
  background-color: var(--primary-color-azul-medio);
  border: 1px solid var(--primary-color-azul-medio);
  color: var(--primary-color-branco);
  font-family: "TT Supermolot", Arial, sans-serif;
  font-weight: bold;
}
