.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1500px;
}

.col-3 {
  justify-content: flex-end;
  align-items: center;
}

.col-2 {
  margin-left: 122px;
}

form {
  margin: 0 0 0 120px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  font-size: 23pt;
  font-weight: bold;
  width: 100%;
  margin: 40px 0 16px 0;
}

label,
p,
input {
  display: block;
  font-family: "TT Supermolot", Arial, sans-serif;
}

label {
  font-size: 22pt;
  margin: 22px 0 16px 0;
}

.cidadeinput {
  border: 2px solid var(--primary-color-azul-medio);
}

.cidadeinput:focus {
  border-color: var(--primary-color-verde);
  outline: none;
}

.datainput {
  border: 2px solid var(--primary-color-azul-medio);
  padding: 10px;
  width: 370px;
}

button {
  margin-right: 5px;
}

.climaselect {
  border: 2px solid var(--primary-color-azul-medio);
  border-radius: 5px;
}

.buttonscontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 80px 0;
}

.cancelarbutton {
  width: 150px;
  height: 30px;
  background-color: var(--primary-color-branco);
  border: 1px solid var(--primary-color-azul-medio);
  color: var(--primary-color-azul-medio);
  font-family: "TT Supermolot", Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.salvarbutton {
  width: 150px;
  height: 30px;
  background-color: var(--primary-color-azul-medio);
  border: 1px solid var(--primary-color-azul-medio);
  color: var(--primary-color-branco);
  font-family: "TT Supermolot", Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.datainput {
  border: 2px solid var(--primary-color-azul-medio);
  padding: 10px;
  width: 150px;
  border-radius: 5px;
}

.invalid {
  border-color: var(--primary-color-vermelho);
}

.error-message {
  color: var(--primary-color-vermelho);
  font-size: 10pt;
  margin-top: 0.25rem;
}

.climacontainer {
  display: flex;
  align-items: flex-end;
}
