.col-1,
.col-2 {
  grid-column: span 1;
}

.col-3 {
  grid-column: span 2;
  display: flex;
  gap: 100px;
  align-items: baseline;
}

form {
  margin: 0 0 0 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

h1 {
  font-size: 23pt;
  font-weight: bold;
  width: 90vw;
  margin: 40px 0 16px 120px;
}

label,
p,
input {
  display: grid;
  font-family: "TT Supermolot", Arial, sans-serif;
}

label {
  font-size: 22pt;
  margin: 22px 0 16px 0;
}

button {
  margin-right: 5px;
}

.buttonscontainer {
  display: flex;
  justify-content: end;
}

.cancelarbutton {
  width: 150px;
  height: 30px;
  background-color: var(--primary-color-branco);
  border: 1px solid var(--primary-color-azul-medio);
  color: var(--primary-color-azul-medio);
  font-family: "TT Supermolot", Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.salvarbutton {
  width: 150px;
  height: 30px;
  background-color: var(--primary-color-azul-medio);
  border: 1px solid var(--primary-color-azul-medio);
  color: var(--primary-color-branco);
  font-family: "TT Supermolot", Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.invalid {
  border: 2px solid var(--primary-color-vermelho);
  border-radius: 8px;
}

.error-message {
  color: var(--primary-color-vermelho);
  font-size: 10pt;
  margin-top: 0.25rem;
}

.datainput,
.cidadeinput,
.climainput {
  width: 350px;
  height: 50px;
}

.climacontainer {
  display: flex;
  align-items: flex-end;
}

.climacontainer .updown-main {
  margin-left: 60px;
}
.climacontainer .updown-main .updown-div {
  margin-left: 60px;
}

.cidadecontainer .updown-main {
  margin-right: 60px;
}
.cidadecontainer .updown-main .updown-div {
  margin-right: 60px;
}
.cidadecontainer label {
  margin-top: 22px;
}

/* Media Queries para Responsividade */

/* Tablets (largura máxima de 768px a 1023px ) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .col-1,
  .col-2,
  .col-3 {
    margin-left: 10px;
  }

  h1 {
    font-size: 20pt;
    margin: 30px 0 12px 0;
  }

  label {
    font-size: 18pt;
    margin: 20px 0 14px 0;
  }
  form {
    margin: 0;
  }

  .datainput,
  .cidadeinput,
  .climainput {
    width: 350px;
    height: 50px;
  }

  .buttonscontainer {
    margin: 40px 0;
  }
  .climacontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .climacontainer .updown-main {
    margin-left: 0;
  }
  .climacontainer .updown-main .updown-div {
    margin-left: 0;
  }
  .cidadecontainer .updown-main {
    margin-left: 0px;
  }
  .cidadecontainer .updown-main .updown-div {
    margin-left: 0px;
  }
  .cidadecontainer label {
    margin-top: 10px;
  }
}

/* Smartphones (largura máxima de 480px) */
@media screen and (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    width: 100vw;
  }

  .col-1,
  .col-2,
  .col-3 {
    margin-left: 10px;
  }

  form {
    margin: 0;
  }

  h1 {
    font-size: 15pt;
    margin: 2rem 0 1rem 0.2rem;
  }

  label {
    font-size: 16pt;
    margin: 18px 0 12px 0;
  }

  .datainput,
  .cidadeinput,
  .climainput {
    width: 350px;
    height: 50px;
  }

  .buttonscontainer {
    flex-direction: row;
    margin: 20px 0;
  }

  .cancelarbutton,
  .salvarbutton {
    width: 100vw;
    height: 40px;
    margin: 10px 0;
  }
  .climacontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .climacontainer .updown-main {
    margin-left: 0;
  }
  .climacontainer .updown-main .updown-div {
    margin-left: 0;
  }
  .cidadecontainer .updown-main {
    margin-left: 0px;
  }
  .cidadecontainer .updown-main .updown-div {
    margin-left: 0px;
  }
  .cidadecontainer label {
    margin-top: 10px;
  }

  .cancelarbutton {
    width: 150px;
    height: 30px;
    background-color: var(--primary-color-branco);
    border: 1px solid var(--primary-color-azul-medio);
    color: var(--primary-color-azul-medio);
    font-family: "TT Supermolot", Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
  }

  .salvarbutton {
    width: 150px;
    height: 30px;
    background-color: var(--primary-color-azul-medio);
    border: 1px solid var(--primary-color-azul-medio);
    color: var(--primary-color-branco);
    font-family: "TT Supermolot", Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
}
