.updown {
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-color-branco);
  border-radius: 5px;
}

.updown-main {
  display: flex;
  align-items: center;
}

.updown-div {
  margin-right: 20px;
  border-radius: 5px;
  border: 2px solid var(--primary-color-branco);
}

.updown-div p {
  margin-left: 10px;
}

img {
  color: var(--primary-color-branco);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 5px;
  border-radius: 5px;
  width: 30px;
}

.updown-input {
  width: 50px;
  height: 60px;
  border: none;
  text-align: center;
  font-size: 20px;
}

.unit {
  margin: 0;
  font-size: 1rem;
}

.invalid-border {
  border-color: var(--primary-color-vermelho);
}

.error-message {
  color: var(--primary-color-vermelho);
  margin-top: 5px;
}

/* Media Queries para Responsividade */

/* Tablets (largura máxima de 768px) */
@media (max-width: 1200px) {
  .updown {
    flex-direction: row;
    align-items: center;
    
    width: 10rem;
  }

  .updown-main {
    flex-direction: row;
    align-items: center;
  }

  .updown-div {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  img {
    width: 25px;
    padding: 8px;
  }

  .updown-input {
    width: 100%;
    max-width: 60px;
    height: 50px;
  }

  .unit {
    font-size: 0.875rem;
  }
}

/* Smartphones (largura máxima de 480px) */
@media (max-width: 600px) {
  .updown {
    flex-direction: row;
    width: 148px;
  }

  .updown-main {
    display: grid;
  }

  .updown-div {
    margin-right: 0;
    margin-bottom: 10px;
    width: 200px;
  }

  img {
    width: 20px;
  }

  .updown-input {
    max-width: 20px;
    height: 10px;
    font-size: 12px;
  }

  .unit {
    font-size: 0.75rem;
  }
}
